PRIVATEKEY="485e724a2f174a004f51ed96d5d8a6a3298df555ff96d76d76a3911d5e1a016a"
CORE_TEST2_SCAN_KEY="YOUR_CORE_TEST2_SCAN_KEY"
CORE_TEST1_SCAN_KEY="YOUR_CORE_TEST1_SCAN_KEY"
CORE_MAIN_SCAN_KEY="YOUR_CORE_MAIN_SCAN_KEY"